<a href="https://colab.research.google.com/github/Hyoryn/Google_colab/blob/main/programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#두 수의 합 구하기
num1 = int(input())
num2 = int(input())
print(f"num1이 {num1}이고 num2가 {num2}이므로 {num1} + {num2} = {num1 + num2}를 return합니다.")

2
3
num1이 2이고 num2가 3이므로 2 + 3 = 5를 return합니다.

In [ ]:
#두 수의 차 구하기
num1 = int(input())
num2 = int(input())
print(f"num1이 {num1}이고 num2가 {num2}이므로 {num1} - {num2} = {num1 - num2}를 return합니다.")

In [ ]:
#두 수의 곱 구하기
num1 = int(input())
num2 = int(input())
print(f"num1이 {num1}, num2가 {num2}이므로 {num1} * {num2} = {num1 * num2}를 return합니다.")

3
4
num1이 3, num2가 4이므로 3 * 4 = 12를 return합니다.

In [ ]:
#두 수의 몫 구하기
num1 = int(input())
num2 = int(input())
print(f"num1이 {num1}, num2가 {num2}이므로 {num1}을 {num2}로 나눈 몫 {num1 // num2}을 return합니다.")

10
5
num1이 10, num2가 5이므로 10을 5로 나눈 몫 2을 return합니다.

In [ ]:
#두 수의 나눗셈
num1 = int(input())
num2 = int(input())
print(f"num1이 {num1}, num2가 {num2}이므로 {num1} / {num2} = {num1 / num2}에 1,000을 곱하면 {(num1 / num2)*1000:.0f}이 됩니다.")

3
2
num1이 3, num2가 2이므로 3 / 2 = 1.5에 1,000을 곱하면 1500이 됩니다.

In [ ]:
#숫자 비교하기
num1 = int(input())
num2 = int(input())

if num1 == num2 :
  print("1")
else:
  print("-1")

2
3
-1

In [ ]:
#분수의 덧셈
numer1 = int(input())
denom1 = int(input())

numer2 = int(input())
denom2 = int(input())

print(f"{numer1}/{denom1} + {numer2}/{denom2} = {numer1 * denom2 + numer2 * denom1}/{denom1 * denom2}")

## 기약분수 만드는 방법

1
2
3
4
1/2 + 3/4 = 10/8

In [ ]:
#각도기
angle = int(input())
if 0 < angle < 90:
  print(1)
elif angle == 90:
  print(2)
elif 90 < angle < 180:
  print(3)
elif angle == 180:
  print(4)

70
1

In [ ]:
#양꼬치
n = int(input())
k = int(input())

print(n*12000 + k*2000 - (n // 10 )*2000)

10
3
124000

In [ ]:
#짝수의 합
n = int(input())
s = 0
for i in range(0,n+1):
  if i % 2 == 0:
    s += i
print(s)

10
30

In [ ]:
#배열의 평균값
numbers = input().split(",")
l = len(numbers)
numbers = map(int, numbers)
s = sum(numbers)
print(s / l)

1,2,3,4,5,6,7,8,9,10
5.5

In [ ]:
#배열 뒤집기
num_list = input().split(",")
print(num_list[::-1])

[1, 2, 3, 4, 5]
[' 5]', ' 4', ' 3', ' 2', '[1']

In [ ]:
#뒤집힌 문자열
my_string = input()
print(my_string[::-1])

"jaron"
"noraj"

In [ ]:
#편지
s = input()
l = len(s)

print(l*2)

happy birthday!
30

In [ ]:
#세균 증식
n = int(input())
t = int(input())

print(n*(2**t))

2
10
2048

In [ ]:
#머슥이보다 키 큰 사람
array = map(int,input().split(","))
height = int(input())
s = 0

for i in array:
  if i > height:
    s += 1
print(s)

149, 180, 192, 170
167
3

In [ ]:
#삼각형의 완성조건(1)
sides = map(int,input().split(","))
m = max(sides)
s = sum(sides)

if m > s-m :
  print("2")
else:
  print("1")

1,2,3
2

In [3]:
#문자열 출력하기
str = input()
print(str)

hello
hello

In [4]:
#a와b 출력하기
a,b = map(int,(input().split()))

print("a =", a)
print("b =", b)

4 5
a = 4
b = 5

In [5]:
#문자열 반복해서 출력하기
str, n = input().split()
n = int(n)

print(str*n)

string 5
stringstringstringstringstring

In [7]:
#대소문자 바꿔서 출력하기
str = input()
print(str.swapcase())

#swapcase -> 대문자는 소문자로, 소문자는 대문자로 바꿔주는 함수

aBcDeFg
AbCdEfG

In [10]:
#특수문자 출력하기
print("!@#$%^&*(\\'\"<>?:;")

# \\ → 역슬래시(\) 하나 출력
# \' → 작은따옴표(') 출력
# \" → 큰따옴표(") 출력

!@#$%^&*(\'"<>?:;

In [11]:
#덧셈식 출력하기
a, b = map(int, input().split())

print(f"{a} + {b} = {a+b}")

4 5
4 + 5 = 9

In [12]:
#문자열 붙여서 출력하기
str1, str2 = input().split()
print(str1 + str2)

apple pen
applepen

In [13]:
#문자열 돌리기
str = input()
for i in str:
  print(i)

abcde
a
b
c
d
e

In [15]:
#홀짝 구분하기
n = int(input())

if n % 2 == 0:
  print(f"{n} is even")
else:
  print(f"{n} is odd")

1
1 is odd

In [24]:
#문자열 겹쳐쓰기
my_string = input()
overwrite_string = input()
s = int(input())
l = len(overwrite_string)

print(my_string[:s] + overwrite_string + my_string[l+s:])

He11oWor1d
lloWorl
2
HelloWorld